<div class="row" id="lightGallery">
  {{#if isSmallScreen}}
    <div data-src={{item.favouriteImage.imageUrl}} class="show-for-small">
      <img class="view-image" src="{{previewUrl}}" />
    </div>
  {{else}}
    <div data-src={{item.favouriteImage.imageUrl}} class="hide-for-small">
      View Large Images ({{item.images.length}})
      <img class="view-image hidden" src="{{item.displayImageUrl}}" />
    </div>
  {{/if}}

  {{#each item.otherImages key="@index" as |image|}}
    <div data-src={{image.imageUrl}} class="image-src hidden">
      <img class="thumb-image" src="{{image.thumbImageUrl}}" />
    </div>
  {{/each}}
</div>
