<div class="row" id="lightGallery">

  {{#if isSmallScreen}}
    <div data-src={{item.favouriteImage.imageUrl}} class="view-image show-for-small">
      {{cloudinary-image-tag src=previewUrl}}
    </div>
  {{else}}
    <div class="view-image row hide-for-small" data-src="{{item.favouriteImage.imageUrl}}">
      {{cloudinary-image-tag src=previewUrl}}
    </div>
  {{/if}}

  {{#each item.otherImages key="@index" as |image|}}
    <div data-src={{image.imageUrl}} class="image-src hidden">
      <img class="thumb-image" src="{{image.thumbImageUrl}}" />
    </div>
  {{/each}}
</div>
