<div id="lightGallery">

  {{#if screenresize.isSmallScreen}}
    <div data-src={{item.favouriteImage.imageUrl}} class="small-screen-preview view-image show-for-small imageZoom">
      {{cloudinary-image-tag src=smallScreenPreviewUrl isSmallScreen=true}}
    </div>
  {{else}}
    <div class="view-image hide-for-small imageZoom" data-src="{{item.favouriteImage.imageUrl}}">
      {{cloudinary-image-tag src=previewUrl}}
    </div>
  {{/if}}

  {{#each item.otherImages key="@index" as |image|}}
    <div data-src={{image.imageUrl}} class="image-src hidden imageZoom">
      <img class="thumb-image" src="{{image.thumbImageUrl}}" />
    </div>
  {{/each}}
</div>
