<a href="" {{action "setLanguage" 'zh-tw'}} class="menu-4 {{if isChinese 'selected'}}">{{t "language.zh"}}</a>
<a href="" {{action "setLanguage" 'en'}} class="menu-4 right {{if isEnglish 'selected'}}">{{t "language.en"}}</a>
