<select {{action 'change' on='change'}}>
  {{#if prompt}}
    <option selected={{is-not selectedValue}}>{{prompt}}</option>
  {{/if}}

  {{#each content key="@index" as |item|}}
    <option value="{{item.selectValue}}" selected={{is-equal item selectedValue}}>
      {{item.selectName}}
    </option>
  {{/each}}
</select>
