{{#if (is-or screenresize.isSmallScreen screenresize.isMediumScreen)}}

  <div class="show_cart_summary" {{action "toggleCartSummary"}}>
    <i class="fa fa-truck cart-icon" aria-hidden="true"></i>
    Show order summary
    <i class="fa {{if showCartSummary 'fa-angle-double-up' 'fa-angle-double-down'}}" aria-hidden="true"></i>
  </div>

  {{#if showCartSummary}}
    <div class="small-12 columns cart-section small-cart-view">
      {{#each cart.content as |record|}}
        <li>
          <div class="row">
            <div class="small-3 columns">
              <img class="thumb-image {{unless record.available 'grayed-image'}}" src="{{record.imageUrl}}" />
            </div>

            <div class="small-9 columns">
              {{record.name}}

              {{#unless record.available}}
                <div class="unavailable">Sorry! This item is no longer available.</div>
              {{/unless}}
            </div>
          </div>
        </li>
      {{/each}}
    </div>
  {{/if}}
{{/if}}
