<div class="cart-controls">
  <p id="messageBoxText">
    <i class="fa fa-truck" aria-hidden="true"></i> {{t "cart_content.your_request"}}
  </p>

  <div class="row">
    <div class="small-6 columns">
      <a {{action 'displayCart'}} class="button expand secondary">
        {{t "cart_content.continue_browsing"}}
      </a>
    </div>
    <div class="small-6 columns">
      <a {{action 'checkout'}} class="button expand">
        {{t "cart_content.submit_request"}}
      </a>
    </div>
  </div>
</div>

<div class="row item-collection">
  <div class="small-12 columns">

    {{#each cart.content as |record|}}
      <li>
        <div class="row">
          <div class="small-3 columns">
            <img class="thumb-image {{unless record.available 'grayed-image'}}" src="{{record.imageUrl}}" />
          </div>

          <div class="small-6 columns">
            {{record.name}}
            {{#unless record.available}}
              <div class="unavailable">Sorry! This item is no longer available.</div>
            {{/unless}}
          </div>

          <div class="small-3 columns remove_link" {{action 'removeItem' record.id record.modelType}}>
            <i class="fa fa-times" aria-hidden="true"></i>
            <span>Remove</span>
          </div>
        </div>
      </li>
    {{/each}}

  </div>
</div>
