<div class="transport-detail">
  <div class="name">Transport method</div>

  <div class="row custom_radio_buttons">
    <div class="radio-button small-1 columns">
      {{radio-button
      name="selectReason"
      selection=selectedId
      value="self"
      id="self"}}
    </div>
    <label class="radio-button-text small-11 columns" for="self">
      We will collect with our own vehicle(s)
    </label>
  </div>
  <div class="row custom_radio_buttons">
    <div class="radio-button small-1 columns">
      {{radio-button
      name="selectReason"
      selection=selectedId
      value="ggv"
      id="ggv"}}
    </div>
    <label class="radio-button-text small-11 columns" for="ggv">
      We would like the items sent (recipient pays the driver)
    </label>
  </div>

  {{#if isSelfSelected}}
    {{partial "order/self_vehicle_form"}}
  {{else}}
    {{partial "order/ggv_form"}}
  {{/if}}

  {{#message-box btn1Text="Okay" id="TransportMessageBox" isVisible=displayUserPrompt classNames="popupOverlay designate-form"}}
    <div class="warning_text important_text">
      <i class="fa fa-exclamation-triangle"></i>
      Goods are granted on "first come first served" basis.
    </div>
    <div class="reserved_text">
      Your requested item will be reserved on {{scheduledDate}}. On that day we will call you to confirm which of the requested items are available before finalizing the order.
    </div>
    <div class="info_text">
      If another person asks for an item you have requested and they arrange the transport before {{scheduledDate}}, they will get the item and you will not.
      <span class="important_text"> To guarantee your order, arrange transport for {{todaysDate}}</span>(we would then reserve your items today).
    </div>
    <div class="explanation_text">
      Each day we put aside items due to dispatch the following day. It is too costly and complicated for us to reserve items for longer. If we are unable to contact you to confirm or if you do not arrive on the {{scheduledDate}}, the items will be released back into stock and your order canceled.
    </div>
  {{/message-box}}
</div>
