{{#if availableDates}}
  {{#validatable-form onSubmit=(action 'bookSchedule') as |form|}}

    <div class="row">
      <div class="name collection">
        {{t "order.vehicle.collection_date_time"}}
      </div>
      <div class="collection-data">
        {{t "order.limited_crossroads_opening_days_and_time"}}
      </div>
    </div>
    <div class="row time_inputs">
      <div class="small-7 columns date_selector">
        {{month-calender
          name='selectedDate'
          id='selectedDate'
          value=''
          selection=selectedDate
          required='true'
          placeholder=(t 'date')
          available=availableDates
          pattern="[a-zA-Z]{3}\s?[a-zA-Z]{3}\s?[0-9]{1,2}"}}
        <i class="fa fa-calendar calender_icon"></i>
      </div>
      <div class="small-5 columns time_selector">
        {{select-list
          content=timeSlots
          on-change=(action (mut selectedTime))
          selectedValue=selectedTime
          prompt=(t 'time')
          selectArrow=false
          pattern="[0-9]{1,2}:(00|30)\s?(AM|PM)"}}
        <i class="fa fa-clock-o time_icon"></i>
      </div>
    </div>

    <div class="row order_button">
      <div class="small-4 columns">
        {{#link-to "cart"}}
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          Return to cart
        {{/link-to}}
      </div>
      <div class="small-8 columns">
        <button id="submit_pin" class="button expand drop_off" {{action 'submit' target=form}}>
          {{t "order.continue_to_confirm_details"}}
        </button>
      </div>
    </div>
  {{/validatable-form}}
{{else}}
  <div class="loading_container">
    {{partial 'loading'}}
  </div>
{{/if}}
