{{#message-box btn1Text='ok' btn1Callback=(action "openCart") isVisible=cart.isAnyItemMissing}}
  <p> One or many items in your cart are no longer available. Please remove those items from cart and then proceed. </p>
{{/message-box}}
<div class="row checkout_pages">
  <div class="small-12 large-6 columns">
    <section class="main-section login-page">
      {{partial "navigation_list"}}
      {{partial "organisation_detail"}}

      {{#if order.orderTransport}}
        {{partial "confirm_order"}}
      {{else}}
        {{partial "order/plan_order_transport"}}
      {{/if}}

    </section>
  </div>

  {{partial "cart_content/checkout_full_view"}}
</div>
