<div class="row">
  <div class = "organisation-detail small-12 columns">
    <div class="detail">
      <div class="row">
        <div class="name small-4 columns">Transport method:</div>
        <div class="small-8 columns">
          {{#if order.orderTransport.isGGV}}
            Hired van delivery(GoGoVan)
          {{else}}
            Self vehicle
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="name small-4 columns">Date:</div>
        <div class="small-8 columns">{{order.orderTransport.scheduledAt}}</div>
      </div>

      <div class="row">
        <div class="name small-4 columns">Time:</div>
        <div class="small-8 columns">{{order.orderTransport.timeslot}}</div>
      </div>

      {{#if order.orderTransport.isGGV}}
        <div class="row">
          <div class="name small-4 columns">Delivery district:</div>
          <div class="small-8 columns">
            {{order.orderTransport.contact.address.district.name}},
            {{order.orderTransport.contact.address.district.territory.name}}
          </div>
        </div>
        <div class="row">
          <div class="name small-4 columns">Vehicle type:</div>
          <div class="small-8 columns">{{order.orderTransport.gogovanTransport.name}}</div>
        </div>
        <div class="row">
          <div class="name small-4 columns">Extra requirements:</div>
          <div class="small-8 columns">
            {{#if order.orderTransport.needEnglish}}Speak English;{{/if}}
            {{#if order.orderTransport.needCart}}Borrow trolley;{{/if}}
            {{#if order.orderTransport.needCarry}}Need Carry;{{/if}}
          </div>
        </div>
        <div class="row">
          <div class="name small-4 columns">Contact:</div>
          <div class="small-8 columns">
            {{order.orderTransport.contact.name}},
            {{order.orderTransport.contact.mobile}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
