<div class="row">
  <div class = "organisation-detail small-12 columns">
    <div class="detail">
      <div class="row">
        <div class="name small-4 columns">Transport method:</div>
        <div class="small-8 columns">
          {{#if order.orderTransport.isGGV}}
            {{t "order.hired_van"}}
          {{else}}
            {{t "order.self_vehicle"}}
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="name small-4 columns">{{t "date"}}:</div>
        <div class="small-8 columns">{{order.orderTransport.scheduledDate}}</div>
      </div>

      <div class="row">
        <div class="name small-4 columns">{{t "time"}}:</div>
        <div class="small-8 columns">{{order.orderTransport.timeslot}}</div>
      </div>

      {{#if order.orderTransport.isGGV}}
        <div class="row">
          <div class="name small-4 columns">
            {{t "gogovan.book_van.delivery_district"}}:
          </div>
          <div class="small-8 columns">
            {{order.orderTransport.contact.address.district.name}},
            {{order.orderTransport.contact.address.district.territory.name}}
          </div>
        </div>
        <div class="row">
          <div class="name small-4 columns">
            {{t "gogovan.book_van.vehicle"}}:
          </div>
          <div class="small-8 columns">{{order.orderTransport.gogovanTransport.name}}</div>
        </div>
        <div class="row">
          <div class="name small-4 columns">{{t "gogovan.book_van.requirements"}}:</div>
          <div class="small-8 columns">
            {{#if order.orderTransport.needEnglish}}
              {{t "order.gogovan.requirements.speak_english"}};
            {{/if}}
            {{#if order.orderTransport.needCart}}
              {{t "order.gogovan.requirements.borrow"}}
            {{/if}}
            {{#if order.orderTransport.needCarry}}
              {{t "order.gogovan.requirements.carry"}}
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="name small-4 columns">{{t "contact"}}:</div>
          <div class="small-8 columns">
            {{order.orderTransport.contact.name}},
            {{order.orderTransport.contact.mobile}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
