<div class="row checkout_pages">
  <div class="small-12 large-6 columns">
    <section class="main-section login-page">

      {{partial "navigation_list"}}

        <div class="small-12 columns mobile">
          {{!-- {{#validatable-form class="form-horizontal" action="authenticateUser" on="submit"}} --}}

            <div class="row">
              <div class="small-12 columns">
                <label class="form-label">{{t "_verification_pin.input_code"}}</label>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                {{numeric-input value=pin name="pin" id="pin" maxlength="4" placeholder="XXXX" required='true' pattern=".{4,}" autoFocus=true}}
              </div>
              <div class="small-4 columns">
                <button id="submit_pin" type="submit" class="button expand">{{t "ok"}}</button>
              </div>
              <div class="small-4 columns"></div>
            </div>

          {{!-- {{/validatable-form}} --}}

          <div class="row">
            <div class="small-12 columns">
              <label class="form-label">{{t "_resend.no_sms"}}</label>
              <label class="form-label">{{t "_resend.please_wait"}}</label>

              <a href="#" {{action "resendPin" }} id="resend-pin">{{t "_resend.resend"}}</a>

              <div>{{#link-to 'login'}}Back to phone number input{{/link-to}}</div>
            </div>
          </div>
        </div>

    </section>
  </div>

  {{partial "checkout_cart_section"}}
</div>
