<nav class="tab-bar hide-for-small">
  <section class='main-section'>
    <h1 class="title">{{t "browse.title"}}</h1>
  </section>
</nav>
<section class="main-section">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-3 large-block-grid-5 xxlarge-block-grid-6 list">
        {{#each parentCategories as |category|}}
          <li>
            <img src="{{category.imageUrl}}" />
            <div class='main_category'>
              {{#link-to 'package_category' category.id class="big_txt"}}
                {{category.name}} ({{category.items.length}})
              {{/link-to}}
            </div>
            <ul class="list subcategories hide-for-small">
              {{#each category.childCategories as |childCategory|}}
                {{#link-to 'package_category' childCategory.id class="custom_a"}}
                  <li>{{childCategory.name}} ({{childCategory.items.length}})</li>
                {{/link-to}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
