<nav class="tab-bar item-controls">
  <section class='main-section'>

    <div class="row">
      <div class="large-4 medium-4 small-12 columns hide-for-small">
        <h1 class="title">View Item</h1>
      </div>

      <div class="large-8 medium-8 small-12 columns text-right item_arrows">

        {{#link-to 'package_category' category class="button tiny info radius left show-for-small"}}
          <i class="fa fa-3x fa-times remove-icon"></i>
        {{/link-to}}


        {{#link-to 'item' previousItem (query-params sortBy=sortBy categoryId=categoryId) disabled=noPreviousItem class="button tiny info radius"}}
          <i class="fa fa-arrow-left hide-for-small"></i>
          <span class="hide-for-small">
            Previous Item
          </span>
          <i class="fa fa-3x fa-angle-left show-for-small"></i>
        {{/link-to}}

        {{#link-to 'item' nextItem (query-params sortBy=sortBy categoryId=categoryId) disabled=noNextItem class="button tiny info  radius"}}
          <span class="hide-for-small">
            Next Item
          </span>
          <i class="fa fa-arrow-right hide-for-small"></i>
          <i class="fa fa-3x fa-angle-right show-for-small"></i>
        {{/link-to}}
      </div>
    </div>
  </section>
</nav>

<section class="main-section view-item">
  <div class="row">

    <div class="large-4 medium-4 small-12 columns images-section right">
      {{!-- IMAGES SECTION --}}
      {{image-preview item=model previewUrl=previewUrl}}

      <div class="row hide-for-small" >
        {{#if hideThumbnails}}
          {{#each model.sortedImages key="@index" as |image|}}
            <img class="thumb-image {{if (is-equal previewUrl image.previewImageUrl) 'thumb'}}" src="{{image.thumbImageUrl}}" {{action "showPreview" image on="click"}} />
          {{/each}}
        {{/if}}
      </div>

      {{!--  --}}
    </div>

    <div class="large-8 medium-8 small-12 columns">

      {{!-- DETAILS SECTION --}}
      <div class="item_name">{{model.mainPackage.notes}}</div>
      <p>
        <div class="item_details">
          Condition: {{model.donorCondition.name}}
        </div>
        <div class="item_details">
          Quantity:  {{model.mainPackage.quantity}}
        </div>
        <div class="item_details">
          Size:      {{model.mainPackage.dimensions}}
        </div>
        <div class="item_details">
          Categories:
          {{#each model.allPackageCategories key="@index" as |category|}}
            {{#link-to 'package_category' category}}{{category.name}}{{/link-to}},
          {{/each}}
        </div>
      </p>
      {{!--  --}}

      {{!-- OTHER PACKAGES DETAILS --}}
      {{#each model.otherPackages key="@index" as |package|}}
        <div class="item_name">{{package.notes}}</div>
        <p>
          <div class="item_details">
            Quantity: {{package.quantity}}
          </div>
          <div class="item_details">
            Size: {{package.dimensions}}
          </div>
        </p>
      {{/each}}
      {{!--  --}}

    </div>

  </div>
</section>
