<div class="row checkout_pages">
  <div class="small-12 medium-9 large-6 columns">
    <section class="main-section login-page">

      {{partial "navigation_list"}}

      {{#validatable-form onSubmit=(action 'resendPin') as |form|}}
        <div class="row">
          <div class="small-12 columns">
            <div class="mobile center_align">
              <div class="row">
                <div class="small-12 columns">
                 <label class="form-label">{{t "login.hk_only"}}</label>
                </div>
              </div>

              <div class="row collapse">
                <div class="small-10 medium-8 columns">
                  {{#form-control}}
                    <span class="prefix">+852</span>
                    {{numeric-input value=mobilePhone name="mobilePhone" id="mobile" maxlength="8" required=true pattern=".{8,}" autoFocus=true}}
                  {{/form-control}}
                </div>
              </div>

              <div class="row collapse">
                <div class="small-10 medium-8 columns">
                  <button id="getsmscode" class="button expand" {{action 'submit' target=form}}>{{t "login.smscode"}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/validatable-form}}

    </section>
  </div>

  {{partial "cart_content/checkout_full_view"}}
</div>
