<div class="row my_orders">
  <div class="title">{{t "my_orders.my_orders"}}</div>
  <div class="row order-heading">
    <div class="small-4 columns">{{t "my_orders.order_no"}}</div>
    <div class="small-4 columns">{{t "my_orders.order_state"}}</div>
    <div class="small-4 columns">{{t "my_orders.item_count"}}</div>
  </div>
  <div class="small-12 columns">
    <ul class="list list-items">
      {{#each arrangedOrders as |order|}}
        <li {{action "setOrder" order}}>
          <div class="row">
            <div class="small-4 columns">
              {{order.code}}
            </div>
            <div class="small-4 columns">
              {{t order.updatedState}}
            </div>
            <div class="small-4 columns">
              {{order.orderItems.length}}
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  {{#if selectedOrder}}
    <div class="order-summery">
      {{partial "order/summery"}}
    </div>
  {{/if}}
</div>
