<div class="row checkout_pages">
  <div class="small-12 large-6 columns">
    <section class="main-section login-page">
      {{partial "navigation_list"}}
      {{partial "organisation_detail"}}

      {{#unless order}}
        {{#validatable-form onSubmit=(action 'save_order') as |form|}}

          <div class="row">
            <div class = "small-12 columns">
              <div class="purpose_section">
                <div class="title">Purpose(s)*</div>
                <div>{{t "order.tick_any"}}</div>

                {{#if blankPurpose}}
                  <div class="error-box">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{t "order.select_purpose"}}
                  </div>
                {{/if}}

                <div class='checkbox'>
                  {{input type="checkbox" name="organisation" checked=organisation id='1' }}
                  <label for='1'><span>
                    {{t "order.for_our_charity"}}
                  </span></label>
                </div>

                <div class='checkbox'>
                  {{input type="checkbox" name="client" checked=client id='2' }}
                  <label for='2'>
                    <span>
                      {{t "order.for_client"}}
                    </span>
                  </label>
                </div>

                <div class='checkbox'>
                  {{input type="checkbox" name="trade" checked=trade id='3' }}
                  <label for='3'><span>
                    {{t "order.for_charity_sale"}}
                  </span></label>
                </div>

                {{#form-control}}
                  <i class="fa fa-times-circle remove-text" aria-hidden="true" {{action "clearDescription"}}></i>
                  {{auto-resize-textarea data-autoresize=true name="description" value=description required="required" pattern=".*\S.*" id="description"}}
                {{/form-control}}

              </div>
            </div>
          </div>

          <div class="row order_button">
            <div class="small-4 columns">
              {{#link-to "cart"}}
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                {{t "order.return_to_cart"}}
              {{/link-to}}
            </div>
            <div class="small-8 columns">
              <button id="submit_pin" class="button expand" {{action 'submit' target=form}}>
                {{t "order.continue_to_transport_details"}}
              </button>
            </div>
          </div>

        {{/validatable-form}}
      {{/unless}}
    </section>
  </div>

  {{partial "cart_content/checkout_full_view"}}
</div>
