<div class="row checkout_pages">
  <div class="small-12 large-6 columns">
    <section class="main-section login-page">
      {{partial "navigation_list"}}
      {{partial "organisation_detail"}}

      <div class="row">
        <div class = "small-12 columns">
          <div class="purpose_section">
            <div class="title">Purpose(s)*</div>
            <div>Tick any that apply</div>

            <div class='checkbox'>
              {{input type="checkbox" name="organisation" checked=organisation id='1' }}
              <label for='1'><span>
                For our charity (facilities / programs etc.)
              </span></label>
            </div>

            <div class='checkbox'>
              {{input type="checkbox" name="client" checked=client id='2' }}
              <label for='2'>
                <span>
                  For client / beneficiary (personal use)
                </span>
              </label>
            </div>

            <div class='checkbox'>
              {{input type="checkbox" name="trade" checked=trade id='3' }}
              <label for='3'><span>
                For charity sale, bartering (any form of trade)
              </span></label>
            </div>

            <i class="fa fa-times-circle remove-text" aria-hidden="true" {{action "clearDescription"}}></i>
            {{auto-resize-textarea data-autoresize=true name="description" value=description required="required" pattern=".*\S.*" id="description"}}

          </div>
        </div>
      </div>

      <div class="row order_button">
        <div class="small-4 columns">
          {{#link-to "cart"}}
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Return to cart
          {{/link-to}}
        </div>
        <div class="small-8 columns">
          <button id="submit_pin" class="button expand" {{action "save_order"}}>
            Continue to transport details
          </button>
        </div>
      </div>
    </section>
  </div>

  {{partial "cart_content/checkout_full_view"}}
</div>
